<?xml version="1.0" ?>

<robot name="vi_camera" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find quad_control)/extra/simulation/models/vi_camera/xacro/component_snippets.xacro" />
  <!-- VI-sensor. -->
  <xacro:vi_sensor_macro
    namespace="vi_sensor"
    parent_link="link"
    enable_cameras="true"
    enable_depth="true">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </xacro:vi_sensor_macro>

</robot>
