<launch>

    <!-- Arguments --> 
    <arg name="traj_name" default="horiz_search_quat" />
    <arg name="tag_smoothing_factor" default="0.01" />   <!-- (0,1] AprilTag smoothing factor. 1 means no smoothing -->    
    <arg name="land_spd_factor" default="0.3" />         <!-- Landing speed factor, smalling is longer landing time, 0 mean fixed landing speed idependent of current velocity -->
    <arg name="land_height" default="0.1" />             <!-- stop motors when camera this high (m) above landing pad -->    
    <arg name="do_fov" default="true" />                 <!-- apply FOV constraints to min-snap traj generation -->    
    <arg name="use_percep_cost" default="true" />        <!-- use PAMPC, by applying perception cost to MPC -->    
    
    <arg name="simulation" default="false" />
    <arg name="cam_name" default="/csi_cam" />
    <arg name="img_topic" default="image_rect" />
    <arg name="debug_mpc" default="false" />
    <arg name="tran_BC_x" default="0.05" />              <!-- x translation from quad body to camera -->    
    <arg name="tran_BC_y" default="0.0" />               <!-- y translation from quad body to camera -->    
    <arg name="tran_BC_z" default="-0.05" />             <!-- z translation from quad body to camera -->     
    
    <!-- Controller node -->
    <node pkg="quad_control" name="mavros_cmd_node" type="mavros_cmd_node" output="screen" required="true">
        <param name="ctrl_mode" type="string" value="mpc" />
        <param name="enable_sim" type="bool" value="$(arg simulation)" />
    </node>

    <!-- MPC node -->
    <arg name="launch_prefix" value="xterm -e gdb --args" if="$(arg debug_mpc)" />
    <arg name="launch_prefix" value="" unless="$(arg debug_mpc)" />
    <node pkg="quad_control" name="mpc_node" type="mpc_node" output="screen" required="true" launch-prefix="$(arg launch_prefix)">
        <param name="search_traj_file" type="string" value="$(find quad_control)/extra/traj/traj_$(arg traj_name).csv" />
        <param name="enable_sim" type="bool" value="$(arg simulation)" />
        <param name="tag_smoothing_factor" value="$(arg tag_smoothing_factor)" />
        <param name="tran_BC_x" value="$(arg tran_BC_x)" />
        <param name="tran_BC_y" value="$(arg tran_BC_y)" />
        <param name="tran_BC_z" value="$(arg tran_BC_z)" />
        <param name="land_spd_factor" value="$(arg land_spd_factor)" />
    </node>

    <!-- Apriltag node -->
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
        <arg name="camera_name" value="$(arg cam_name)"/>
        <arg name="image_topic" value="$(arg img_topic)"/>
    </include>

</launch>
