<launch>

    <!-- Parameters -->
    <arg name="cam_name" default="/pinhole_camera" />   <!-- Down-facing camera -->
    <arg name="img_topic" default="image_raw" />        <!-- Down-facing camera -->
    <arg name="simulation" default="false" />           <!-- Gazebo config -->
    <arg name="controller" default="position" />        <!-- options: geometric, position --> 
    <arg name="trajectory" default="squiggle"/>         <!-- Trajectory name -->
    <arg name="tag_smoothing_factor" default="0.01" />   <!-- (0,1] AprilTag smoothing factor. 1 means no smoothing -->   
    <arg name="tran_BC_x" default="0.108" />             <!-- x translation from quad body to camera -->    
    <arg name="tran_BC_y" default="0.0" />             <!-- y translation from quad body to camera -->    
    <arg name="tran_BC_z" default="0.0" />             <!-- z translation from quad body to camera --> 

    <!-- Controller node -->
    <node pkg="vioquad_land" name="mavros_cmd_node" type="mavros_cmd_node" output="screen" required="true">
        <param name="ctrl_mode" type="string" value="$(arg controller)" />
        <param name="enable_sim" value="$(arg simulation)" />

        <param name="max_err_acc" value="15.0" />

        <!-- Geometric controller weights -->
        <param name="Kpos_x" value="10.0" />
        <param name="Kpos_y" value="10.0" />
        <param name="Kpos_z" value="20.0" />
        <param name="Kvel_x" value="5.0" />
        <param name="Kvel_y" value="5.0" />
        <param name="Kvel_z" value="10.0" />
        <param name="Katt_x" value="20" />
        <param name="Katt_y" value="20" />
        <param name="Katt_z" value="20" />
    </node>

    <!-- Trajectory node -->
    <node pkg="vioquad_land" name="trajectory_gen_node" type="trajectory_gen_node" output="screen">
        <param name="trajectory_file" type="string" value="$(find vioquad_land)/extra/traj/traj_$(arg trajectory).csv" />
    </node>
    
    <!-- Visual Fiducial node -->
    <node pkg="vioquad_land" name="visual_fiducial_node" type="visual_fiducial_node" output="screen" required="true">
        <param name="tag_smoothing_factor" value="$(arg tag_smoothing_factor)" />
        <param name="tran_BC_x" value="$(arg tran_BC_x)" />
        <param name="tran_BC_y" value="$(arg tran_BC_y)" />
        <param name="tran_BC_z" value="$(arg tran_BC_z)" />
    </node>
    
    <!-- Apriltag node -->
    <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
        <arg name="camera_name" value="$(arg cam_name)"/>
        <arg name="image_topic" value="$(arg img_topic)"/>
    </include>

</launch>

