<?xml version="1.0" ?>
<model>
    <name>apriltag_landing_pad</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
   
      <author>
       <name>student</name>
       <email>student@university.edu</email>
      </author>
    
    <description>Recursive apriltag landing pad</description>
</model>
